:root {
    --primary: #01796f;
    --secondary: #da2c38;
    --default: #50c878;
    --light: #FFFFF0;
    --textDark: #333333;
    --textLight: #FFFFF0;
    --title: 'Lato', sans-serif;
    --text: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--text);
    color: var(--textDark);
    background-color: var(--light);
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1;
    padding: 1rem 0;
}

@media (min-width: 1024px){
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navbar__logo {
    width: 20rem;
    height: auto;
}

@media (min-width: 1024px){
    .navbar__logo {
        width: 15rem;
    }
}

.navigation {
    width: 100%;
}

@media (min-width: 768px){
    .navigation {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }
}

@media (min-width: 1024px){
    .navigation {
        margin: 0;
        gap: 0.5rem;
    }
}

.navigation__item {
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: color .3s ease-in-out;
    color: var(--textDark);
}

.navigation__item:hover {
    color: var(--primary);
}

@media (min-width: 768px){
    .navigation__item {
        padding: .5rem;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 768px){
    .actions {
        justify-content: start;
    }
}

.actions__button {
    all: unset;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: var(--textLight);
    font-weight: 500;
    cursor: pointer;
    border: 0.2rem solid var(--primary);
    border-radius: 1rem;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
}

.actions__button:hover {
    opacity: 0.9;
}

@media (min-width: 1024px){
    .actions__button {
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
    }
}

.actions__button--outline {
    background-color: transparent;
    color: var(--primary);
}

.actions__button--outline:hover {
    background-color: var(--primary);
    opacity: 1;
    color: var(--textLight);
}

.actions__button--outline-secondary {
    background-color: transparent;
    border: .2rem solid var(--secondary);
    color: var(--secondary);
}

.actions__button--outline-secondary:hover {
    background-color: var(--secondary);
    opacity: 1;
    color: var(--textLight);
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

@media (min-width: 768px){
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.hero__text__title {
    font-size: 6rem;
    font-family: var(--title);
    font-weight: 900;
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
}

@media (min-width: 768px){
    .hero__text__title {
        font-size: 7rem;
        text-align: left;
    }
}

@media (min-width: 1024px){
    .hero__text__title {
        font-size: 8rem;
    }
}

.hero__text__title--accent {
    color: var(--primary);
}

.hero__text__paragraph {
    margin: 2rem 0;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
}

@media (min-width: 768px){
    .hero__text__paragraph{
        text-align: left;
    }
}